* {
    margin: 0px;
    padding: 0px;
}


body{
    margin: 0px;
    height: 100vh;
    background-image: url(../src/fondo-blob.png);
    background-size:cover;
    width: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation{
  0%{opacity: 0;}
  100%{opacity: 1;}
}
#contenedor-yo{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

#circulo{
  position: absolute;
  z-index: 0;
  margin-top: 15px;
}

#img-yo{
    position: absolute;
    height: 550px;
    width: auto;
    z-index: 1;
}
#img-marco{
    height: 550px;
    width: 550;
    z-index: 1;
}

#nav-top-bar li a{
  margin-top:25px;
  margin-right: 15px;
  color: rgb(80, 80, 202);
  font-size:40px;
}

#nav-top-bar li a:hover{
    color: rgb(11, 146, 183);
}

/* animacion mimi*/
#img-yo{
    animation: flotar 2.5s infinite  alternate;
  }
  @keyframes flotar {
    0% { transform: translateY(0); }
    100% { transform: translateY(-8px); }
  }