* {
    margin: 0px;
    padding: 0px;
}

body{
  background: linear-gradient(180deg, rgba(191, 247, 238, 1) 0%, rgba(205, 182, 247, 1) 19%, rgba(139, 89, 167, 1) 43%, rgba(128, 69, 160, 1) 74%, rgba(255, 137, 7, 1) 100%);
  background-repeat: no-repeat;
/*height: 800px;*/
}

#nav-top-bar{
    margin-top:25px;
    color: rgb(25, 25, 207);
    font-size:25px;
  }

#nav-top-bar:hover{
      color: rgb(11, 146, 183);
  }

#cont-main{
  flex-direction:row;
  margin-top: 50px;
  justify-content: center;
}

#titulo{
  font-size: 8vw;
  color: rgb(243, 247, 247);
  text-shadow: 2px 2px rgb(65, 31, 203, 0.2);
  margin-top: 4vw;
}

.texto-puesto{
    color: #3b2be6;
    text-align: justify;
}

.textofondo{
    text-align: justify;
    color: rgb(69, 54, 239);
    font-size: 18px;
}

.cont{
  margin-right: 15px;
}
#contactos-sobre{
  position: relative;
}

#lock{
position: relative;
perspective:1000px;
}
#locket-open{
  height: 40vw;
 /* overflow: hidden;
  transform-origin:left;
  position: absolute;
  z-index: 1;*/
  transition:all.5s;
  transform-origin: left;
  width: max-content;
  position: absolute
}
/*#locked-closed::before,locked-closed::after{
  position: absolute;
  left: 22.5px;
}*/

#lock:hover img{
transform:rotateY(-90deg);
}

#locket-closed{
  position: absolute;
  display: flex;
  height: 30vw;
  width: max-content;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

#nube-lock{
  position: absolute;
  margin-left: 10vw;
  height: 25vw;
  width: auto;
  z-index: 10;
  top: 35vw;
}

#nube6{
  margin-left: 0.1vw;
}

#cont-habili{
  justify-content: center;
}

#habilidades-tec{
 margin-top: 4vw;
}
#habiliades-soft{
  margin-top: 10vw;
}

#titulo-hatec{
  font-size: 5vw;
  font-weight: bolder;
  color: antiquewhite;
  text-shadow: 2px 2px rgb(65, 31, 203, 0.2);
  text-align:left;
  margin-bottom: 2vw;

}
.listas-hab{
  list-style: none;
  margin-top:2vw;
}

#nube4{
  height:20vw;
}

#nube1{
  height:15vw;
}

#img-centro{
  display: flex;

}

#titulo-soft{
  font-size: 5vw;
  font-weight: bolder;
  color: antiquewhite;
  text-shadow: 2px 2px rgb(65, 31, 203, 0.2);
  margin-bottom: 2vw;
  text-align: right;
}

.list-i{
  list-style:none;
  font-size: 2.5vw;
  margin-right: 2vw;
  color: antiquewhite;
  text-shadow: 2px 2px rgb(65, 31, 203, 0.2);
  font-weight: bold;
}

.li-right{
  display: flex;
 justify-content: flex-end;
}
