* {
    margin: 0px;
    padding: 0px;
}

body{
  background: linear-gradient(180deg, rgba(191, 247, 238, 1) 0%, rgba(205, 182, 247, 1) 19%, rgba(139, 89, 167, 1) 43%, rgba(128, 69, 160, 1) 74%, rgba(255, 137, 7, 1) 100%);
  background-repeat: no-repeat;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
/*height: 800px;*/
}
@keyframes fadeInAnimation{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

#nav-top-bar li a{
    margin-top:25px;
    margin-right: 15px;
    color: rgb(25, 25, 207);
    font-size:40px;
  }

#nav-top-bar li a:hover{
      color: rgb(11, 146, 183);
  }

#cont-main{
  flex-direction:row;
  margin-top: 50px;
  justify-content: center;
}

#titulo{
  font-size: 8vw;
  color: rgb(243, 247, 247);
  text-shadow: 2px 2px rgb(65, 31, 203, 0.2);
  margin-top: 4vw;
}

.texto-puesto{
    color: #3b2be6;
    text-align: justify;
}

.textofondo{
    text-align: justify;
    color: rgb(69, 54, 239);
    font-size: 18px;
}

.cont{
  margin-right: 15px;
}
#contactos-sobre{
  position: relative;
}
/*#lock{
  position: relative;
  perspective:1000px;
}*/

#lock{
position: relative;
transform-style: preserve-3d;
perspective:2500px;
}

/*
#locket-open{
  height: 40vw;
 /* overflow: hidden;
  transform-origin:left;
  position: absolute;
  z-index: 1;
  transition:.5s;
  transform-origin: left;
  width: max-content;
  position: absolute
}*/

#locket-open{
  height: 40vw;
  overflow: hidden;
  transform-origin:left;
  position: absolute;
  z-index: 1;
  transition:.5s;
  width: max-content;
}

/*#locket-open::before, #locket-open::after{
  position: absolute;
  left: 20vw;
}*/

/*#locked-closed::before,locked-closed::after{
  position: absolute;
  left: 22.5px;
}*/
/*#locket-open::before{
  top: 25px;
}
#locket-open::after{
  top: 155px;
}*/

#lock:hover #locket-open{
transform:rotateY(-90deg);
}

#locket-closed{
  position: absolute;
  display: flex;
  height: 30vw;
  width: max-content;
 /* align-items: center;
  justify-content: center;*/
  right: 5vw;
  top: 9vw;
  z-index: -1;
}

/*#locket-closed{
  position: absolute;
  display: flex;
  height: 30vw;
  width: max-content;
  align-items: center;
  justify-content: center;
  z-index: -1;
}*/

#nube-lock{
  position: absolute;
  left: 15vw;
  height: 25vw;
  width: auto;
  z-index: 10;
  top: 35vw;
}

#mimi-avion{
  height: 45vw;
}
#nube6{
  margin-left: 0.1vw;
}
#nube3{
  position: absolute;
  height: 25vw;
  left: 10vw;
  top: 105vw;
  z-index: -1;
}

#cont-habili{
  justify-content: center;
}

#habilidades-tec{
 margin-top: 18vw;
}

#habiliades-soft{
  margin-top: 5vw;
}

#titulo-hatec{
  font-size: 5vw;
  font-weight: bolder;
  color: antiquewhite;
  text-shadow: 2px 2px rgb(65, 31, 203, 0.2);
  text-align:left;
  margin-bottom: 2vw;

}
.listas-hab{
  list-style: none;
  margin-top:2vw;
}

#nube4{
  height:20vw;
  display: flex;
  left: 52vw;
  top: 90vw;
  position: absolute;
  z-index: -1;
}

#nube1{
  height:15vw;
  
}

#img-centro{
  display: flex;

}

#titulo-soft{
  font-size: 5vw;
  font-weight: bolder;
  color: antiquewhite;
  text-shadow: 2px 2px rgb(65, 31, 203, 0.2);
  margin-bottom: 2vw;
  text-align: right;
}

.list-i{
  list-style:none;
  font-size: 2.5vw;
  margin-right: 2vw;
  color: antiquewhite;
  text-shadow: 2px 2px rgb(65, 31, 203, 0.2);
  font-weight: bold;
}

.li-right{
  display: flex;
 justify-content: flex-end;
}
/* animacion mimi*/
#mimi-avion{
  -webkit-animation: volar 1s infinite  alternate;
  animation: volar 1s infinite  alternate;
}
@keyframes volar {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

